.Website_Heading, .landingPageHeading, .landingPageHeading1{
    /* font-family: 'Roboto'; */
    font-family: sans-serif;
    text-transform: uppercase;
    /* font-style: normal; */
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    position: relative;
    color: #000000;
    z-index: 2;
}
.landingPageHeading, .landingPageHeading1{
    font-size: 40px;
    line-height: 55px;
}
.website_para{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;;
}
.Website_Heading::before, .landingPageHeading::before{
    content: "";
    position: absolute;
    bottom: 0%;
    height: 40%;
    max-height: 15px;
    right: -10%;
    width: 100%;
    background: linear-gradient(55deg, #df3c1c 10%, rgba(0,0,0,0) 10%), linear-gradient(65deg, #21517e 20%, rgba(0,0,0,0) 20%), linear-gradient(75deg, #176c8d 30%, rgba(0,0,0,0) 30%), linear-gradient(85deg, #2896a0 40%, rgba(0,0,0,0) 40%), linear-gradient(90deg, #94b5ae 50%,  rgba(0,0,0,0) 50%), linear-gradient(95deg, #f7e4be 60%, rgba(0,0,0,0) 60%), linear-gradient(105deg, #f6b67a 70%, rgba(0,0,0,0) 70%), linear-gradient(115deg, #eb7630 80%, rgba(0,0,0,0) 80%), linear-gradient(125deg, #df3c1c 90%, #21517e 90%);
    opacity: 0.6;
    z-index: -1;
}
.landingPageHeading::before{
    max-height: none;
}
@media screen and (max-width: 1200px) {
    .website_para{
        font-size: 14px;
        line-height: 20px;
    }
    .Website_Heading{
        font-size: 22px;
        margin-bottom: 0px;
        line-height: 24px;

    }
    .landingPageHeading, .landingPageHeading1{
        font-size: 30px ;
        line-height: 32px;
    }
}
@media screen and (max-width: 700px) {
    .website_para{
        font-size: 10px;
        line-height: 15px;
    }
    .Website_Heading::before{
        max-height: 10px;
    }
    .Website_Heading{
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 20px;

    }
    .landingPageHeading, .landingPageHeading1{
        font-size: 15px ;
        line-height: 20px;
    }
}
@media screen and (max-width: 370px) {
    .Website_Heading {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 18px;
    }
}